<?xml version="1.0"?>
<launch>

  <!-- Run the map server -->
  <!--  <arg name="map_file" default="$(find my_summit_mapping)/maps/summit_xl_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /> -->
  <include file="$(find my_summit_mapping)/launch/map_serve.launch" /> 
  
  <arg name="use_map_topic" default="true"/>
  <arg name="scan_topic" default="scan" />

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="use_map_topic" value="$(arg use_map_topic)"/>
    <rosparam file="$(find my_summit_localization)/params/my_amcl_params.yaml" command="load" />
    <!-- <remap from="scan" to="$(arg scan_topic)"/> -->
    <remap from="scan" to="/hokuyo_base/scan" />
    <remap from="cmd_vel" to="/summit_xl_controller/cmd_vel"/>
  </node>

  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find my_summit_path_planning)/params/move_base_params.yaml" command="load" />
    <rosparam file="$(find my_summit_path_planning)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_summit_path_planning)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_summit_path_planning)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_summit_path_planning)/params/global_costmap_params_map.yaml" command="load" />
    <rosparam file="$(find my_summit_path_planning)/params/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find my_summit_path_planning)/params/navfn_global_planner_params.yaml" command="load" />
    
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
  </node>
</launch>